<div class="row" id="clint-box">
    <div class="col-6">
        <h3>اضافة عميل جديد</h3>
        <form action="/add-clint" method="post">
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="اسم العميل">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="رقم الجوال">
            </div>

            <div class="mb-3">
                <input type="text" class="form-control" placeholder="العنوان اسم الشارع/ الحي">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="الموقع المدينة - المحافظة">
            </div>
            <div class="mb-3">
                <textarea name="details" class="form-control" cols="30" rows="5"
                    placeholder="المزيد من التفاصيل"></textarea>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-dark"> حفظ</button>
            </div>
        </form>
    </div>
    <div class="col-6">
        <h3>العملاء الحاليين</h3>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="بحث عن عميل بالاسم">
        </div>
        <ul class="list-group">
            <li class="list-group-item">عامر مصطفى <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary">عرض/تعديل</button>
                    <button type="button" class="btn btn-danger">حذف</button>
                </div>
            </li>
        </ul>
    </div>
</div>