<div class="row" id="clint-box">
    <div class="col-6">
        <h3>اضافة عميل جديد</h3>
        <form action="/add-clint" method="post">
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="اسم العميل">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="رقم الجوال">
            </div>

            <div class="mb-3">
                <input type="text" class="form-control" placeholder="العنوان اسم الشارع/ الحي">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="الموقع المدينة - المحافظة">
            </div>
            <div class="mb-3">
                <textarea name="details" class="form-control" cols="30" rows="5"
                    placeholder="المزيد من التفاصيل"></textarea>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-dark"> حفظ</button>
            </div>
        </form>
    </div>
    <div class="col-6">
        <h3>العملاء الحاليين</h3>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="بحث عن عميل بالاسم">
        </div>
        <ul class="list-group">
            <li class="list-group-item">عامر مصطفى <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#edit-clint-modal">عرض/تعديل</button>
                    <button type="button" class="btn btn-danger">حذف</button>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="modal fade" id="edit-clint-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">عرض/تعديل</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/add-clint" method="post">
                    <div class="mb-3">
                        <input type="text" class="form-control" value="عامر مصطفى" placeholder="اسم العميل">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" value="01152306375" placeholder="رقم الجوال">
                    </div>

                    <div class="mb-3">
                        <input type="text" class="form-control" value="aswan" placeholder="العنوان اسم الشارع/ الحي">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" value="aswan" placeholder="الموقع المدينة - المحافظة">
                    </div>
                    <div class="mb-3">
                        <textarea name="details" class="form-control" cols="30" rows="5"
                            placeholder="المزيد من التفاصيل"></textarea>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-dark"> حفظ</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>