<%- include('./includes/head') -%>
    <link rel="stylesheet" href="/dashbord/css/index.css">
    <div id="wrapper" class="toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"> <a href=""> logo </a> </li>
                <li> <i class="fa-solid fa-sack-dollar"></i><button class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#wallet" style="background: none;
                        border: none;">
                        المحفظة(
                        ر.س<%=wallet%>)</button></li>
                <li> <img src="/imgs/costumer.png" style="width: 25px;
                    height: 25px;
                    margin-right: 15px;"><a href="#" onclick="showBox('clint-box')">العملاء</a> </li>
                <li> <i class="fa-solid fa-cube"></i><a href="#" onclick="showBox('package-box')">الشحنات</a> </li>
                <li> <i class="fa-solid fa-truck-fast"></i><a href="#" onclick="showBox('companies')">شركات الشحن</a>
                </li>
                <li style="margin-top: 160%;"> <i class="fa-solid fa-right-from-bracket"></i><a href="/logout">تسجيل
                        الخروج</a> </li>
            </ul>
        </div> <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container mt-4">
                <div class="card">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="position-relative snipimage">
                                <img src="/imgs/shipp/saee-logo.png" class="rounded img-fluid">
                            </div>
                        </div>
                        <div class="col-md-6 price">
                            <h3>28.75 SAR</h3>
                        </div>
                        <div class="col-md-2"><a class="btn btn-success" href="/saee/create">اختر</a></div>
                    </div>


                </div>
            </div>
        </div> <!-- /#page-content-wrapper -->
    </div> <!-- /#wrapper -->

    <%- include('./includes/footer') -%>