<%- include('./includes/head') -%>
    <div id="wrapper" class="toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"> <a href=""> logo </a> </li>
                <li> <i class="fa-solid fa-sack-dollar"></i><a href="#" onclick="showBox('clint-box')">المحفظة(
                        ر.س0)</a></li>
                <li> <img src="/imgs/costumer.png" style="width: 25px;
                    height: 25px;
                    margin-right: 15px;"><a href="#" onclick="showBox('clint-box')">العملاء</a> </li>
                <li> <i class="fa-solid fa-cube"></i><a href="#" onclick="showBox('package-box')">الشحنات</a> </li>
            </ul>
        </div> <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <%- include('./clints') -%>
                    <%- include('./package') -%>

            </div>
        </div> <!-- /#page-content-wrapper -->
    </div> <!-- /#wrapper -->

    <%- include('./includes/footer') -%>