<%- include('./includes/head') -%>
    <link rel="stylesheet" href="/dashbord/css/index.css">
    <div id="wrapper" class="toggled">
        <%- include('./includes/side-bar') -%>
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container mt-4">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="position-relative snipimage">
                                    <img src="/imgs/shipp/saee-logo.png" class="rounded img-fluid">
                                </div>
                            </div>
                            <div class="col-md-6 price">
                                <h3>28.75 SAR</h3>
                            </div>
                            <div class="col-md-2"><a class="btn btn-success" href="/saee/create">اختر</a></div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="position-relative snipimage">
                                    <img src="/imgs/shipp/aramex.png" class="rounded img-fluid">
                                </div>
                            </div>
                            <div class="col-md-8 price">
                                <h3>قريبا</h3>
                            </div>

                        </div>
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="position-relative snipimage">
                                    <img src="/imgs/shipp/jt.png" class="rounded img-fluid">
                                </div>
                            </div>
                            <div class="col-md-8 price">
                                <h3>قريبا</h3>
                            </div>

                        </div>
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="position-relative snipimage">
                                    <img src="/imgs/shipp/smsa.png" class="rounded img-fluid">
                                </div>
                            </div>
                            <div class="col-md-8 price">
                                <h3>قريبا</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div> <!-- /#page-content-wrapper -->
    </div> <!-- /#wrapper -->

    <%- include('./includes/footer') -%>