<link rel="stylesheet" href="/dashbord/css/package.css">
<div class="row d-none" id="package-box">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">شركة الشحن</th>
                <th scope="col">اسم العميل</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% let i=0 %>
                <%pacorder.forEach(p=>{%>
                    <tr>
                        <th scope="row">
                            <%=i++%>
                        </th>
                        <td>
                            <%=p.company%>
                        </td>
                        <td>
                            <%=p.name %>
                        </td>
                        <td><a class="btn btn-primary" href="/saee/saee-print-sticker/<%=p.details.waybill%>">طباعة
                                استيكر</a></td>
                    </tr>
                    <%})%>
        </tbody>
    </table>
</div>
<script src="/dashbord/js/package.js"></script>