<div class="col-4 d-none all-forms" id="company">
    <h3>قائمة شركات الشحن</h3>
    <ul class="list-group companys">
        <li class="list-group-item" style="background-color: #18222E;">
            <div class="row">
                <div class="col-2">ساعي</div>
                <div class="col-4">
                    <img src="/imgs/shipp/saee-logo.png" alt="saee">
                </div>
                <div class="col-6">
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <%if(saee.status){%>
                            <button type="button" class="btn btn-danger">تعطيل</button>
                            <%}else{%>
                                <button type="button" class="btn btn-danger">تنشيط</button>
                                <%}%>
                                    <button type="button" class="btn btn-warning">تعديل الاسعار</button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>