<div class="col-6 d-none all-forms" id="sotres">
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <h3>المتاجر</h3>
                <% stores.forEach(s=> { %>
                    <li class="list-group-item" id="store<%=s._id%>">
                        <%=s.name%>
                            <div class="btn-group store-btn-group" role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-danger"
                                    onclick="removeStore('<%=s._id%>', '<%=s.name%>')">حذف</button>
                                <button type="button" class="btn btn-warning">ارسل ايميل</button>
                                <button type="button" class="btn btn-success">عرض معلومات</button>
                            </div>
                    </li>
                    <%});%>
            </ul>
        </div>
    </div>
</div>