.fa-eye {
    position: relative;
    top: -34px;
    left: -90%;
    font-size: 1.2rem;
}

#cities {
    border: 2px solid #ddd;
    max-height: 170px;
    overflow-y: scroll;
}

#cities .list-group-item:hover {
    background-color: #0D6EFD;
    color: #fff;
}